.vo{
    background-color: orange;
    border: 5px outset red ;
    font-family: verdana;
    font-size: 10px;
}
.voo{
    background-color: 0e0e0e;
}
.color_font{
    color: white;
}
.RO{
    background-color: orangered;
    text-align: left;


}