@font-face
{   src: url('assest/fonts/Dancing/DancingScript-Regular.otf');
    font-family: 'Dancing Script';
}
body {
    margin: 0;
}
.vo{
    background-color: orange;
    border: 10px 
    outset red ;
    font-size: 10px;
    margin-top: 10px;
}

.RO{
    background-color: orangered;
    text-align: center;
}

.voo{
    background-color: #0e0e0e;
}

.font_music{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom{ 
    display: block;
    width: 100%;
    height: 500px;
}

.bottom > iframe{
    width: 100%;
    height: 100%;
    scroll-behavior: none;
}

.font_titil{
    font-family: 'Dancing Script';
    color: orange;
    text-align: center;
    font-size: 120px;
    margin: 5% 0 0;
}

.logo{
    position: absolute;
    left:8px;
    width: 10%;
    margin-top: 10px;
}
